build/*
cmake/*
.settings/*
.vs/*
.vscode/*
debug/*
core/Startup/*
*.txt
.cproject
.mxproject
.project
CMakePresets.json
*.ld
*.ioc
*.s
*.launch
vcpkg-configuration.json
Drivers/*
Makefile
*.cfg
*.make
*.svd
*.yaml
